In [88]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
from collections import defaultdict
import re
import importlib
from functions import *
import random
import folium
#from GA import *

# 1) DATASETS and Data Cleaning

## a) Population Dataset

In [2]:
population_path = "/home/saydam/Desktop/2024-2025_itu/yzv202/project/github/datasets/population_with_coordinates.csv"

In [3]:
raw_population_df = pd.read_csv(population_path , header=None, sep=",")

In [4]:
raw_population_df = raw_population_df.dropna(how='all', axis=1)

In [5]:
raw_population_df.columns = raw_population_df.iloc[0]

In [6]:
raw_population_df = raw_population_df.drop(index=0).reset_index(drop=True)
raw_population_df = raw_population_df.loc[:, raw_population_df.columns.notna()]

In [7]:
raw_population_df[['latitude', 'longitude']] = raw_population_df['coordinate'].str.split(',', expand=True)

In [8]:
raw_population_df['latitude'] = raw_population_df['latitude'].astype(float)
raw_population_df['longitude'] = raw_population_df['longitude'].astype(float)
raw_population_df['population'] = raw_population_df['population'].astype(int)

In [9]:
population_df = raw_population_df[['population', 'neighborhood', 'township', 'neighborhood_code', 'latitude', 'longitude']]

In [10]:
population_df = population_df.dropna()

In [11]:
population_df.head()

,population,neighborhood,township,neighborhood_code,latitude,longitude
0,4693,Adnan Menderes,Arnavutköy,40490,41.211179,28.700163
1,47828,Anadolu,Arnavutköy,99359,41.186036,28.749463
2,23116,Arnavutköy Merkez,Arnavutköy,40478,41.182546,28.737891
3,10566,Atatürk,Arnavutköy,40482,41.190149,28.760125
4,12829,Boğazköy İstiklal,Arnavutköy,40483,41.183488,28.768235

In [12]:
population_df.describe()

0         population    latitude   longitude
count     708.000000  708.000000  708.000000
mean    21397.411017   41.029966   28.972329
std     15943.770157    0.071404    0.193073
min      2025.000000   40.817868   28.409171
25%     10279.250000   40.998081   28.854917
50%     17970.000000   41.028968   28.981120
75%     28527.750000   41.063456   29.109349
max    112367.000000   41.269994   29.386538

## b) Metro Station Dataset

In [13]:
stations_gdf = gpd.read_file("/home/saydam/Desktop/2024-2025_itu/yzv202/project/github/datasets/station.geojson")

In [14]:
print(stations_gdf.head())

                   ISTASYON                                      PROJE_ADI  \
0               Mehmet Akif            T1 Kabataş - Bağcılar Tramvay Hattı
1                  Soğanlık                   M4 Kadıköy - SGH Metro Hattı
2                   Aksaray  M1A Yenikapı - Atatürk Havalimanı Metro Hattı
3                 Olimpiyat            M9 Bahariye - Olimpiyat Metro Hattı
4  Sağmalcılar-Pancar Motor      T4 Topkapı - Mescid-i Selam Tramvay Hattı

               PROJE_ASAMA HAT_TURU                                  MUDURLUK  \
0  Mevcut Hattaki İstasyon  Tramvay   Avrupa Yakası Raylı Sistemler Müdürlüğü
1  Mevcut Hattaki İstasyon    Metro  Anadolu Yakası Raylı Sistemler Müdürlüğü
2  Mevcut Hattaki İstasyon    Metro   Avrupa Yakası Raylı Sistemler Müdürlüğü
3  Mevcut Hattaki İstasyon    Metro   Avrupa Yakası Raylı Sistemler Müdürlüğü
4  Mevcut Hattaki İstasyon  Tramvay   Avrupa Yakası Raylı Sistemler Müdürlüğü

                    geometry
0   POINT (28.88168 41.0058)
1   POINT (29.1924 40.91329)
2  POINT (28.94809 41.01201)
3  POINT (28.76723 41.07947)
4  POINT (28.90694 41.05728)

In [15]:
stations_gdf["lat"] = stations_gdf.geometry.x
stations_gdf["lon"] = stations_gdf.geometry.y

In [16]:
stations_df = stations_gdf[["ISTASYON", "PROJE_ADI", "HAT_TURU", "lat", "lon"]]

In [17]:
stations_df[["lat", "lon"]] = stations_df[["lon", "lat"]]

/tmp/ipykernel_181375/3141347488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stations_df[["lat", "lon"]] = stations_df[["lon", "lat"]]

In [18]:
stations_df.head()

,ISTASYON,PROJE_ADI,HAT_TURU,lat,lon
0,Mehmet Akif,T1 Kabataş - Bağcılar Tramvay Hattı,Tramvay,41.005800,28.881681
1,Soğanlık,M4 Kadıköy - SGH Metro Hattı,Metro,40.913288,29.192398
2,Aksaray,M1A Yenikapı - Atatürk Havalimanı Metro Hattı,Metro,41.012008,28.948090
3,Olimpiyat,M9 Bahariye - Olimpiyat Metro Hattı,Metro,41.079466,28.767234
4,Sağmalcılar-Pancar Motor,T4 Topkapı - Mescid-i Selam Tramvay Hattı,Tramvay,41.057280,28.906940

# Visulation
Initial maps

In [89]:
istanbul_coords = [41.0082, 28.9784]


map_istanbul = folium.Map(location=istanbul_coords, zoom_start=11, tiles='CartoDB positron')

for index, row in stations_df.iterrows():
    popup_text = f"{row['ISTASYON']}<br>{row['PROJE_ADI']}"
    folium.Marker(
        location=[row['lat'], row['lon']],
        popup=popup_text,
        icon=folium.Icon(color='blue' if row['HAT_TURU'] == 'Metro' else 'green', icon='train')
    ).add_to(map_istanbul)

map_istanbul.save("initial_metro_lines.html")

In [90]:
m = folium.Map(location=istanbul_coords, zoom_start=10 , tiles='CartoDB positron')


for _, row in population_df.iterrows():
    folium.Marker(
        location=[row['latitude'], row['longitude']],
        popup=f"{row['neighborhood']} ({row['township']})\nNüfus: {row['population']}",
        tooltip=row['neighborhood']
    ).add_to(m)

m.save("neighborhood.html")

# Calculating grids
These are going to be candidate stations

In [21]:
lat_min, lat_max = 40.977, 41.14
lon_min, lon_max = 28.70, 29.0

In [22]:
num_lat_grids = 30
num_lon_grids = 30

In [23]:
grid_list , candidate_stations = create_grid(
    lat_min = lat_min , lon_min = lon_min , lat_max = lat_max , lon_max = lon_max)

In [24]:
grid_df = pd.DataFrame(grid_list)
grid_df.head()

  grid_id  lat_start    lat_end  lon_start  lon_end
0  (0, 0)     40.977  40.982433      28.70    28.71
1  (0, 1)     40.977  40.982433      28.71    28.72
2  (0, 2)     40.977  40.982433      28.72    28.73
3  (0, 3)     40.977  40.982433      28.73    28.74
4  (0, 4)     40.977  40.982433      28.74    28.75

In [25]:
candidate_stations_df = pd.DataFrame(candidate_stations)
candidate_stations_df.head()

  station_id        lat     lon
0     (0, 0)  40.979717  28.705
1     (0, 1)  40.979717  28.715
2     (0, 2)  40.979717  28.725
3     (0, 3)  40.979717  28.735
4     (0, 4)  40.979717  28.745

In [26]:
candidate_stations_df.describe()

              lat         lon
count  900.000000  900.000000
mean    41.058500   28.850000
std      0.047054    0.086603
min     40.979717   28.705000
25%     41.017750   28.775000
50%     41.058500   28.850000
75%     41.099250   28.925000
max     41.137283   28.995000

In [27]:
candidate_stations_df['TYPE'] = 'candidate'
stations_df['TYPE'] = 'existing'

/tmp/ipykernel_181375/535197162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stations_df['TYPE'] = 'existing'

In [28]:
stations_df.head()

,ISTASYON,PROJE_ADI,HAT_TURU,lat,lon,TYPE
0,Mehmet Akif,T1 Kabataş - Bağcılar Tramvay Hattı,Tramvay,41.005800,28.881681,existing
1,Soğanlık,M4 Kadıköy - SGH Metro Hattı,Metro,40.913288,29.192398,existing
2,Aksaray,M1A Yenikapı - Atatürk Havalimanı Metro Hattı,Metro,41.012008,28.948090,existing
3,Olimpiyat,M9 Bahariye - Olimpiyat Metro Hattı,Metro,41.079466,28.767234,existing
4,Sağmalcılar-Pancar Motor,T4 Topkapı - Mescid-i Selam Tramvay Hattı,Tramvay,41.057280,28.906940,existing

In [29]:
candidate_stations_df.head()

  station_id        lat     lon       TYPE
0     (0, 0)  40.979717  28.705  candidate
1     (0, 1)  40.979717  28.715  candidate
2     (0, 2)  40.979717  28.725  candidate
3     (0, 3)  40.979717  28.735  candidate
4     (0, 4)  40.979717  28.745  candidate

In [30]:
all_stations = pd.concat([
    candidate_stations_df[['station_id', 'lat', 'lon' , 'TYPE']],
    stations_df[['ISTASYON', 'lat', 'lon' , 'TYPE']].rename(columns={'ISTASYON': 'station_id'})
]).reset_index(drop=True)

In [31]:
all_stations = all_stations.reset_index(drop=True)
all_stations['station_id'] = all_stations.index + 34001

In [32]:
all_stations.head()

   station_id        lat     lon       TYPE
0       34001  40.979717  28.705  candidate
1       34002  40.979717  28.715  candidate
2       34003  40.979717  28.725  candidate
3       34004  40.979717  28.735  candidate
4       34005  40.979717  28.745  candidate

In [33]:
all_stations_pop = calculate_population_per_station(all_stations , population_df)

In [34]:
all_stations_pop_filtered = all_stations_pop[
    ~((all_stations_pop['arrived_population'] < 1000) & (all_stations_pop['TYPE'] == 'candidate'))
]

all_stations_pop_filtered = all_stations_pop_filtered.sort_values(by='arrived_population' , ascending = False)

In [35]:
all_stations_pop_filtered.head()

      station_id        lat        lon       TYPE  arrived_population
164        34165  41.006883  28.845000  candidate              302574
134        34135  41.001450  28.845000  candidate              294879
104        34105  40.996017  28.845000  candidate              261326
225        34226  41.017750  28.855000  candidate              259554
1177       35178  41.019391  28.857845   existing              235721

In [36]:
all_stations_pop_filtered.describe()

         station_id         lat         lon  arrived_population
count    866.000000  866.000000  866.000000          866.000000
mean   34654.267898   41.034148   28.910335        71616.110855
std      383.173053    0.055695    0.126874        48453.873690
min    34001.000000   40.784064   28.670765            0.000000
25%    34318.250000   41.006883   28.825000        34711.500000
50%    34605.500000   41.034050   28.895000        66030.500000
75%    35026.750000   41.068220   28.965000       102849.500000
max    35243.000000   41.256408   29.409966       302574.000000

### Extracting Metro Lines and Stations
We have not a extract metro lines and their stations dictionary. For further operation we need this dict .

In [81]:
TOLERANCE = 0.0005

project_dict = defaultdict(list)

existing_stations = all_stations_pop[all_stations_pop['TYPE'] == 'existing']

for idx, row in stations_df.iterrows():
    proje_adi_full = row['PROJE_ADI']
    lat = row['lat']
    lon = row['lon']

    match_hat = re.search(r'\b(M\d+[A-Z]?|T\d+)\b', proje_adi_full)
    if not match_hat:
        continue  
    hat_kodu = match_hat.group()


    match = existing_stations[
        (existing_stations['lat'].sub(lat).abs() < TOLERANCE) &
        (existing_stations['lon'].sub(lon).abs() < TOLERANCE)
    ]

    if not match.empty:
        for station_id in match['station_id']:
            project_dict[hat_kodu].append(station_id)

project_dict = dict(project_dict)

In [38]:
print(project_dict)

{'T1': [34901, 34917, 34925, 34927, 34931, 34932, 34933, 34955, 34956, 34965, 34966, 34971, 34975, 34994, 34995, 34997, 35001, 35007, 35025, 35026, 35027, 35028, 35031, 35035, 35050, 35051, 35054, 35085, 35093, 35096, 35109, 35124], 'M4': [34902, 34909, 34910, 34938, 34991, 34999, 35010, 35012, 35029, 35034, 35039, 35053, 35057, 35024, 35058, 35062, 35065, 35081, 35086, 35092, 35161, 35162, 35163, 35164, 35165, 35166, 35167, 35168, 35169, 35170], 'M1A': [34903, 34941, 34945, 34947, 34958, 34961, 34969, 34998, 35003, 35033, 35048, 35083, 35084, 35090, 35097, 35099, 35111, 35112, 35114], 'M9': [34904, 34984, 35087, 35060, 35130, 35150, 35183, 35184, 35185, 35186, 35187, 35188, 35226, 35189, 35014, 35190, 35191], 'T4': [34905, 34906, 34923, 34940, 34942, 34948, 34964, 34967, 34968, 34972, 34973, 34974, 34996, 35002, 35008, 35032, 35056, 35063, 35091, 35098, 35110, 35115], 'M5': [34912, 34914, 34979, 35011, 35015, 35018, 35041, 35044, 35047, 35067, 35071, 35073, 35075, 35076, 35077, 35100, 35117, 35154, 35155, 35156, 35157, 35158, 35159, 35160], 'M7': [34915, 34937, 34952, 34953, 34978, 34980, 34982, 35013, 35016, 35021, 35043, 35046, 35070, 35103, 35107, 35119, 35120, 35121, 35122, 35201, 35202, 35203, 35204, 35205, 35206, 35207, 35208, 35209, 35210, 35242], 'T3': [34916, 34929, 34946, 34962, 34988, 34992, 34993, 35030, 35080, 35113], 'T5': [34918, 34919, 34920, 34922, 34939, 34959, 35055, 35125, 35126, 35127, 35182, 35214, 35243], 'M2': [34924, 35116, 34930, 34944, 34960, 34963, 34989, 34990, 35004, 35005, 35009, 35049, 35064, 35066, 35082, 35094, 34924, 35116, 35123], 'M3': [34926, 34957, 34928, 34943, 34970, 35006, 35037, 35060, 35130, 35061, 35089, 35174, 35177, 35178, 35180, 35181, 35211, 35212, 35227, 35228, 35229, 35230], 'M6': [34949, 35040, 35059, 35088], 'M1B': [34926, 34957, 35036, 35038, 35052, 35095, 35175, 35176, 35179, 35213, 35216, 35219, 35221, 35222, 35188, 35226], 'M8': [35118, 35171, 35172, 35173, 35192, 35193, 35194, 35195, 35196, 35197, 35198, 35199, 35200], 'M11': [35140, 35141, 35142, 35143, 35144, 35145, 35146, 35147, 35215, 35218, 35220, 35223, 35224, 35225], 'M10': [35151, 35152], 'M12': [35231, 35232, 35233, 35234, 35235, 35236, 35237, 35238, 35239, 35240, 35241]}

we dont know last stations of metro lines. i added last station end of the metro line array.

In [50]:
existing_stations_dict = {'T1': [34901, 34917, 34925, 34927, 34931, 34932, 34933, 34955, 34956, 34965, 34966, 34971, 34975, 34994, 34995, 
34997, 35001, 35025, 35026, 35027, 35028, 35031, 35035, 35050, 35051, 35054, 35085, 35093, 35096, 35109, 35124 , 35007], 
                            'M4': [34902, 34909, 34910, 34938, 34991, 34999, 35010, 35012, 35029, 35034, 35039, 35053, 35057, 35024, 
35058, 35062, 35065, 35081, 35086, 35092, 35161, 35162, 35163, 35164, 35165, 35166, 35168, 35169, 35170 , 35167], 
                          'M1A': [34903, 34941, 34945, 34947, 34958, 34961, 34969, 
34998, 35003, 35033, 35083, 35084, 35090, 35097, 35099, 35111, 35112, 35114 , 35048], 
                          'M9': [34984, 35087, 35060, 35130, 35150, 35183,
35184, 35185, 35186, 35187, 35188, 35226, 35189, 35014, 35190, 35191, 34904], 
                          'T4': [34905, 34906, 34923, 34940, 34942, 34948, 34964, 34967, 34968,
34972, 34973, 34974, 34996, 35002, 35008, 35032, 35056, 35063, 35091, 35098, 35110, 35115], 
                          'M5': [34912, 34914, 34979, 35011, 35015, 35018,
35041, 35044, 35047, 35067, 35071, 35073, 35075, 35076, 35077, 35100, 35117, 35154, 35155, 35157, 35158, 35159, 35160, 35156], 
                          'M7': [34915,
34937, 34952, 34953, 34978, 34980, 34982, 35013, 35016, 35021, 35043, 35046, 35070, 35103, 35107, 35119, 35120, 35121, 35201, 35202,
35203, 35204, 35205, 35206, 35207, 35208, 35209, 35210, 35242 , 35122],
                          'T5': [34918, 34919, 34920, 34922, 34939, 34959, 35055, 35125, 35126, 35127, 
35182, 35214, 35243], 
                          'M2': [34924, 35116, 34930, 34944, 34960, 34963, 34989, 34990, 35005, 35009, 35049, 35064, 35066, 35082, 35094, 
                                 34924, 35116, 35123 , 35004], 
                           'M3': [34926, 34957, 34928, 34943, 34970, 35006, 35037, 35060, 35130,  35089, 35174, 35177, 35178, 35180, 
35181, 35211, 35212, 35227, 35228, 35229, 35230 , 35061], 
                          'M6': [34949, 35059, 35088 , 35040], 
                          'M1B': [34926, 34957, 35036, 35038, 35052, 35095, 35175, 35176, 35179, 35213, 35216,  35221, 35222, 35188, 
35226 , 35219], 
                          'M8': [35118, 35171, 35173, 35192, 35193, 35194, 35195, 35196, 35197, 35198, 35199, 35200 , 35172], 
                          'M11': [35140, 35141, 35142, 
35143, 35144, 35145, 35146, 35147, 35218, 35220, 35223, 35224, 35225 , 35215], 
                          'M12': [35231, 35232, 35233, 35234, 
35235, 35236, 35237, 35238, 35239, 35240, 35241]}

In [39]:
connectivity_dict = calculate_connectivity_dict(all_stations_pop)

In [40]:
print(len(connectivity_dict))

1240

# GA

In [144]:
class GeneticMetroPlanner:
    def __init__(self, all_stations_df, connectivity_dict, existing_lines_dict,
                 mutation_rate = 0.1 , generation_number = 20, child_number = 10,
                 new_station_number = 30 , max_per_station = 5):

        self.stations_df = all_stations_df
        self.connectivity_dict = connectivity_dict
        self.existing_lines_dict = existing_lines_dict

        self.mutation_rate = mutation_rate
        self.generation_number = generation_number
        self.child_number = child_number

        self.new_station_number = new_station_number
        self.max_per_station = max_per_station

        self.candidate_station_ids = all_stations_df[
            all_stations_df['TYPE'] == 'candidate'
        ]['station_id'].tolist()

        self.population = []
        self.fitness_values = []
        
    def generate_chromosome(self):
        chromosome = {}
        available_candidates = self.candidate_station_ids.copy()
        random.shuffle(available_candidates)
    
        for line_name, existing_stations in self.existing_lines_dict.items():
            added_stations = []
            current_line = existing_stations.copy()
    
            num_new_stations = random.randint(0, 5)
    
            for _ in range(num_new_stations):
                if not current_line:
                    break
    
                last_station = current_line[-1]
                neighbors = self.connectivity_dict.get(last_station, [])
    
                valid_extensions = [
                    s for s in neighbors
                    if s in available_candidates and s not in current_line and s not in added_stations
                ]
    
                if valid_extensions:
                    new_station = random.choice(valid_extensions)
                    current_line.append(new_station)
                    added_stations.append(new_station)
                    available_candidates.remove(new_station)
                else:
                    break 
    
            chromosome[line_name] = current_line
    
        return chromosome


    def generate_initial_population(self):
        for i in range(self.child_number):
            self.population.append(self.generate_chromosome())

    def calculate_population_for_chromosome(self, chromosome):
        total_population = 0
        used_station_ids = set()

        for line_stations in chromosome.values():
            for station_id in line_stations:
                if station_id not in used_station_ids:
                    row = self.stations_df[self.stations_df['station_id'] == station_id]
                    if not row.empty:
                        total_population += row.iloc[0]['arrived_population']
                        used_station_ids.add(station_id)
        
        return total_population

    def fitness_population(self):
        self.fitness_values = [] 
        for chrom in self.population:
            temp = self.calculate_population_for_chromosome(chrom)
            self.fitness_values.append(temp)

    def best_result(self):
        best_idx = self.fitness_values.index(max(self.fitness_values))
        best_chromosome = self.population[best_idx]
        best_score = self.fitness_values[best_idx]
        return best_chromosome, best_score
        
    def roulette_wheel_selection(self):
        total_fitness = sum(self.fitness_values)

        selection_probs = [f / total_fitness for f in self.fitness_values]

        selected_parents = random.choices(
            population = self.population,
            weights = selection_probs,
            k = self.child_number // 2)

        return selected_parents

    def crossover(self , parent1 , parent2):
        child = {}
        for line_name in self.existing_lines_dict:
            if random.random() < 0.5:
                child[line_name] = parent1[line_name]
            else:
                child[line_name] = parent2[line_name]
        return child

    def mutate(self, chromosome):
        for line_name in chromosome:
            if random.random() < self.mutation_rate:
                mutation_type = random.choice(["add", "swap", "remove"])
                current_line = chromosome[line_name]
                used_stations = {s for line in chromosome.values() for s in line}
    
                if mutation_type == "add":
                    last_station = current_line[-1]
                    neighbors = self.connectivity_dict.get(last_station, [])
                    valid = [s for s in neighbors if s in self.candidate_station_ids and s not in used_stations]
                    if valid:
                        chromosome[line_name].append(random.choice(valid))
    
                elif mutation_type == "swap" and len(current_line) >= 2:
                    last_station = current_line[-2]
                    neighbors = self.connectivity_dict.get(last_station, [])
                    valid = [s for s in neighbors if s in self.candidate_station_ids and s not in used_stations]
                    if valid:
                        chromosome[line_name] = current_line[:-1] + [random.choice(valid)]
    
                elif mutation_type == "remove" and len(current_line) > len(self.existing_lines_dict[line_name]):
                    chromosome[line_name] = current_line[:-1]
        
        return chromosome

    def run(self):
        self.generate_initial_population()
        for generation in range(self.generation_number):
            self.fitness_population()
            selected = self.roulette_wheel_selection()
    
            next_generation = []
            while len(next_generation) < self.child_number:
                p1, p2 = random.sample(selected, 2)
                child = self.crossover(p1, p2)
                child = self.mutate(child)
                next_generation.append(child)
    
            self.population = next_generation

        return self.best_result()

In [145]:
GeneticAlgorithm = GeneticMetroPlanner(
    all_stations_df = all_stations_pop_filtered,
    connectivity_dict = connectivity_dict,
    existing_lines_dict = existing_stations_dict)

In [146]:
chromosome = GeneticAlgorithm.generate_chromosome()
for line, stations in chromosome.items():
    print(f"{line}: {len(stations)} station")

T1: 34 station
M4: 30 station
M1A: 22 station
M9: 18 station
T4: 25 station
M5: 24 station
M7: 35 station
T5: 16 station
M2: 19 station
M3: 23 station
M6: 5 station
M1B: 16 station
M8: 13 station
M11: 15 station
M12: 11 station

In [147]:
for line , stations in existing_stations_dict.items():
    print(f"{line}:  {len(stations)} station")

T1:  32 station
M4:  30 station
M1A:  19 station
M9:  17 station
T4:  22 station
M5:  24 station
M7:  30 station
T5:  13 station
M2:  19 station
M3:  22 station
M6:  4 station
M1B:  16 station
M8:  13 station
M11:  14 station
M12:  11 station

In [148]:
print(chromosome)

{'T1': [34901, 34917, 34925, 34927, 34931, 34932, 34933, 34955, 34956, 34965, 34966, 34971, 34975, 34994, 34995, 34997, 35001, 35025, 35026, 35027, 35028, 35031, 35035, 35050, 35051, 35054, 35085, 35093, 35096, 35109, 35124, 35007, 34435, 34494], 'M4': [34902, 34909, 34910, 34938, 34991, 34999, 35010, 35012, 35029, 35034, 35039, 35053, 35057, 35024, 35058, 35062, 35065, 35081, 35086, 35092, 35161, 35162, 35163, 35164, 35165, 35166, 35168, 35169, 35170, 35167], 'M1A': [34903, 34941, 34945, 34947, 34958, 34961, 34969, 34998, 35003, 35033, 35083, 35084, 35090, 35097, 35099, 35111, 35112, 35114, 35048, 34133, 34070, 34158], 'M9': [34984, 35087, 35060, 35130, 35150, 35183, 35184, 35185, 35186, 35187, 35188, 35226, 35189, 35014, 35190, 35191, 34904, 34669], 'T4': [34905, 34906, 34923, 34940, 34942, 34948, 34964, 34967, 34968, 34972, 34973, 34974, 34996, 35002, 35008, 35032, 35056, 35063, 35091, 35098, 35110, 35115, 34560, 34651, 34530], 'M5': [34912, 34914, 34979, 35011, 35015, 35018, 35041, 35044, 35047, 35067, 35071, 35073, 35075, 35076, 35077, 35100, 35117, 35154, 35155, 35157, 35158, 35159, 35160, 35156], 'M7': [34915, 34937, 34952, 34953, 34978, 34980, 34982, 35013, 35016, 35021, 35043, 35046, 35070, 35103, 35107, 35119, 35120, 35121, 35201, 35202, 35203, 35204, 35205, 35206, 35207, 35208, 35209, 35210, 35242, 35122, 34241, 34301, 34182, 34092, 34151], 'T5': [34918, 34919, 34920, 34922, 34939, 34959, 35055, 35125, 35126, 35127, 35182, 35214, 35243, 34297, 34235, 34173], 'M2': [34924, 35116, 34930, 34944, 34960, 34963, 34989, 34990, 35005, 35009, 35049, 35064, 35066, 35082, 35094, 34924, 35116, 35123, 35004], 'M3': [34926, 34957, 34928, 34943, 34970, 35006, 35037, 35060, 35130, 35089, 35174, 35177, 35178, 35180, 35181, 35211, 35212, 35227, 35228, 35229, 35230, 35061, 34823], 'M6': [34949, 35059, 35088, 35040, 34660], 'M1B': [34926, 34957, 35036, 35038, 35052, 35095, 35175, 35176, 35179, 35213, 35216, 35221, 35222, 35188, 35226, 35219], 'M8': [35118, 35171, 35173, 35192, 35193, 35194, 35195, 35196, 35197, 35198, 35199, 35200, 35172], 'M11': [35140, 35141, 35142, 35143, 35144, 35145, 35146, 35147, 35218, 35220, 35223, 35224, 35225, 35215, 34188], 'M12': [35231, 35232, 35233, 35234, 35235, 35236, 35237, 35238, 35239, 35240, 35241]}

In [149]:
def visualize_chromosome(chromosome, stations_df):
    m = folium.Map(location=[41.015137, 28.979530], zoom_start=11 , tiles='CartoDB positron')

    color_palette = [
        'red', 'blue', 'green', 'purple', 'orange', 'darkred', 'lightred',
        'beige', 'darkblue', 'darkgreen', 'cadetblue', 'darkpurple', 'white',
        'pink', 'lightblue', 'lightgreen', 'gray', 'black'
    ]
    line_colors = {}

    for i, (line, station_ids) in enumerate(chromosome.items()):
        color = color_palette[i % len(color_palette)]
        line_colors[line] = color
        line_coords = []

        for station_id in station_ids:
            row = stations_df[stations_df['station_id'] == station_id]
            if row.empty:
                continue
            lat = row.iloc[0]['lat']
            lon = row.iloc[0]['lon']
            line_coords.append((lat, lon))

            folium.CircleMarker(
                location=(lat, lon),
                radius=4,
                color=color,
                fill=True,
                fill_color=color,
                fill_opacity=0.8,
                popup=f"{line}: {station_id}"
            ).add_to(m)

        

    return m

In [150]:
m_n = visualize_chromosome(chromosome , all_stations)

In [151]:
m_n.save("chromosome_map_new.html")

In [152]:
m_old = visualize_chromosome(existing_stations_dict , all_stations)
m_old.save("chromosome_map_old.html")

In [153]:
print(GeneticAlgorithm.calculate_population_for_chromosome(chromosome))

19532512

In [154]:
GeneticAlgorithm.generate_initial_population()

In [155]:
print(len(GeneticAlgorithm.population))

10

In [156]:
GeneticAlgorithm.fitness_population()

In [157]:
print(GeneticAlgorithm.fitness_values)

[np.int64(19569118), np.int64(20454880), np.int64(19724324), np.int64(19331177), np.int64(19460176), np.int64(19534655), np.int64(20037413), np.int64(19999971), np.int64(20631598), np.int64(19627845)]

In [158]:
planner = GeneticMetroPlanner(
    all_stations_df=all_stations,
    connectivity_dict=connectivity_dict,
    existing_lines_dict=existing_stations_dict,
    mutation_rate=0.2,
    generation_number=30,
    child_number=20,
    new_station_number=50,
    max_per_station=5
)

In [159]:
best_solution, best_score = planner.run()
print("\n🚇 En iyi çözüm bulundu:")
print("Toplam erişilen nüfus:", best_score)

for line, stations in best_solution.items():
    print(f"{line}: {stations}")

🚇 En iyi çözüm bulundu:
Toplam erişilen nüfus: 26617804
T1: [34901, 34917, 34925, 34927, 34931, 34932, 34933, 34955, 34956, 34965, 34966, 34971, 34975, 34994, 34995, 34997, 35001, 35025, 35026, 35027, 35028, 35031, 35035, 35050, 35051, 35054, 35085, 35093, 35096, 35109, 35124, 35007, 34320, 34348, 34376, 34403, 34523, 34495, 34528, 34616, 34587, 34646, 34583, 34522, 34430]
M4: [34902, 34909, 34910, 34938, 34991, 34999, 35010, 35012, 35029, 35034, 35039, 35053, 35057, 35024, 35058, 35062, 35065, 35081, 35086, 35092, 35161, 35162, 35163, 35164, 35165, 35166, 35168, 35169, 35170, 35167]
M1A: [34903, 34941, 34945, 34947, 34958, 34961, 34969, 34998, 35003, 35033, 35083, 35084, 35090, 35097, 35099, 35111, 35112, 35114, 35048, 34103, 34070, 34099, 34011]
M9: [34984, 35087, 35060, 35130, 35150, 35183, 35184, 35185, 35186, 35187, 35188, 35226, 35189, 35014, 35190, 35191, 34904, 34640, 34519, 34400, 34368, 34311, 34189, 34218, 34278, 34217, 34339, 34372, 34460, 34548, 34580, 34612, 34585, 34493, 34524, 34644, 34647, 34735, 34855, 34828, 34796, 34706, 34825, 34882, 34853, 34856]
T4: [34905, 34906, 34923, 34940, 34942, 34948, 34964, 34967, 34968, 34972, 34973, 34974, 34996, 35002, 35008, 35032, 35056, 35063, 35091, 35098, 35110, 35115, 34526, 34645, 34765, 34768, 34711, 34738, 34678, 34705, 34763, 34852, 34730, 34820, 34700, 34578, 34550, 34429, 34337, 34248]
M5: [34912, 34914, 34979, 35011, 35015, 35018, 35041, 35044, 35047, 35067, 35071, 35073, 35075, 35076, 35077, 35100, 35117, 35154, 35155, 35157, 35158, 35159, 35160, 35156]
M7: [34915, 34937, 34952, 34953, 34978, 34980, 34982, 35013, 35016, 35021, 35043, 35046, 35070, 35103, 35107, 35119, 35120, 35121, 35201, 35202, 35203, 35204, 35205, 35206, 35207, 35208, 35209, 35210, 35242, 35122, 34211, 34122, 34061, 34033, 34004, 34035, 34094, 34032, 34151, 34243, 34364, 34273, 34213, 34093, 34214, 34156, 34245, 34185, 34063, 34002, 34034, 34126, 34215, 34275]
T5: [34918, 34919, 34920, 34922, 34939, 34959, 35055, 35125, 35126, 35127, 35182, 35214, 35243, 34387, 34360, 34479, 34389, 34327, 34330, 34299, 34418, 34475, 34444, 34385, 34297, 34359, 34448, 34480, 34447]
M2: [34924, 35116, 34930, 34944, 34960, 34963, 34989, 34990, 35005, 35009, 35049, 35064, 35066, 35082, 35094, 34924, 35116, 35123, 35004, 34900, 34898, 34838, 34718, 34747, 34778, 34658, 34595, 34655, 34687, 34805, 34773, 34833]
M3: [34926, 34957, 34928, 34943, 34970, 35006, 35037, 35060, 35130, 35089, 35174, 35177, 35178, 35180, 35181, 35211, 35212, 35227, 35228, 35229, 35230, 35061, 34732, 34791, 34733, 34761, 34703, 34614, 34556, 34588, 34529, 34561, 34679, 34771, 34653, 34562, 34471, 34589, 34530, 34503, 34383, 34356, 34414]
M6: [34949, 35059, 35088, 35040, 34510, 34569, 34660, 34627, 34509, 34476, 34417, 34328, 34357, 34354, 34264, 34237, 34295, 34204, 34176, 34238, 34209]
M1B: [34926, 34957, 35036, 35038, 35052, 35095, 35175, 35176, 35179, 35213, 35216, 35221, 35222, 35188, 35226, 35219, 34304, 34242, 34244, 34301, 34333, 34336, 34458, 34455, 34543, 34604, 34482, 34485, 34488]
M8: [35118, 35171, 35173, 35192, 35193, 35194, 35195, 35196, 35197, 35198, 35199, 35200, 35172]
M11: [35140, 35141, 35142, 35143, 35144, 35145, 35146, 35147, 35218, 35220, 35223, 35224, 35225, 35215, 34098, 34127, 34188, 34159, 34247, 34369, 34398, 34309, 34431, 34341, 34222, 34282, 34370, 34343, 34345]
M12: [35231, 35232, 35233, 35234, 35235, 35236, 35237, 35238, 35239, 35240, 35241]

In [161]:
m_best = visualize_chromosome(best_solution , all_stations)

In [162]:
m_best.save("best_metro_lines.html")